*.suo
CS7/CS7/CS7.Tests/obj/
CS7/CS7/CS7/obj/
CS7/CS7/CS7.Tests/bin/
CS7/CS7/CS7/bin/Debug/netcoreapp1.1/CS7.deps.json
CS7/CS7/CS7/bin/
CS7/CS7/WhatsNewInCS7.Tests/bin/
CS7/CS7/WhatsNewInCS7.Tests/obj/
CS7/CS7/WhatsNewInCS7/bin/
CS7/CS7/WhatsNewInCS7/obj/
CS7/CS7/ExceptionFilters/bin/
CS7/CS7/ExceptionFilters/obj/
CS7/CS7/FunWithAwaiters/obj/
CS7/CS7/NullConditional/obj/
CS7/CS7/NullConditional/bin/
CS7/CS7/LinqToOperators/obj/
CS7/CS7/FunWithAwaiters/bin/
CS7/CS7/LinqToOperators/bin/
CS7/CS7/OddsAndEnds/bin/
CS7/CS7/OddsAndEnds/obj/
CS7/CS7/OperatorAbuse/bin/
CS7/CS7/OperatorAbuse/obj/
CS7/CS7/packages/
CS7/CS7/Performance/obj/
CS7/CS7/StringInterpolation/bin/
CS7/CS7/StringInterpolation/obj/
CS7/CS7/VersionDetection/bin/
CS7/CS7/VersionDetection/obj/
CS7/CS7/VersionHelper/bin/
CS7/CS7/VersionHelper/obj/
CS7/CS7/WhatTheHeck/bin/
CS7/CS7/WhatTheHeck/obj/
CS7/CS7/WhatTheHeck2/bin/
CS7/CS7/WhatTheHeck2/obj/
CS7/CS7/WrappingAsync/bin/
CS7/CS7/WrappingAsync/obj/
CS7/CS7/Performance/bin/
